@mixin flexNom {
    width: 300px;
    display: flex;
    flex-direction: column;
}

@mixin divLayout($isRow :true) {
    div {

        border: 2px double grey;

        @if($isRow) {
            height: 200px;
            width: 30%;
        }

        @else {
            height: 100px;
        }
    }
}

h1 {
    align-self: center;
}

#france,
#belgique {
    @include flexNom();
    @extend h1;

    div {

        display: flex;
        flex-direction: row;

        @include divLayout($isRow:true);
    }
}

#allemagne,
#hollande,
#pologne {
    @include flexNom();
    @extend h1;

    div {
        border: 2px double grey;
        display: flex;
        flex-direction: column;
        @include divLayout($isRow:false);
    }
}

#tchequie {
    @include flexNom();
    @extend h1;

    div {
        display: flex;
        flex-direction: column;
        position: relative;
        border: 2px double grey;

        :first-child,
        :nth-child(2) {
            height: 100px;
            z-index: 0;
            border: 2px double grey;
        }

        #triangle {
            position: absolute;
            height: 192px;
            top: 6px;
            width: 97px;
            clip-path: polygon(0 0, 100% 50%, 0 100%);
            z-index: 2;
        }

        :last-child {
            position: absolute;
            height: 204px;
            width: 104px;
            clip-path: polygon(0 0, 100% 50%, 0 100%);
            z-index: 1;
            background-color: grey;
        }
    }
}

.blue {
    background-color: rgb(48, 48, 194);
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#valider {
    margin-top: 10%;
}