h1, #france,
#belgique, #allemagne,
#hollande, #pologne, #tcheque {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#france,
#belgique {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#france div,
#belgique div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#france div div,
#belgique div div {
  border: 2px double grey;
  height: 200px;
  width: 30%;
}

#allemagne,
#hollande {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#allemagne div,
#hollande div {
  border: 2px double grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#allemagne div div,
#hollande div div {
  border: 2px double grey;
  height: 66px;
}

#pologne {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#pologne div {
  border: 2px double grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#pologne div div {
  border: 2px double grey;
  height: 100px;
}

#tcheque {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#tcheque div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border: 2px double grey;
}

#tcheque div :first-child,
#tcheque div :nth-child(2) {
  height: 100px;
  z-index: 0;
  border: 2px double grey;
}

#tcheque div #triangle {
  position: absolute;
  height: 192px;
  top: 6px;
  width: 97px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  z-index: 2;
}

#tcheque div :last-child {
  position: absolute;
  height: 204px;
  width: 104px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  z-index: 1;
  background-color: grey;
}

.blue {
  background-color: #3030c2;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

html,
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
}

#valider {
  margin-top: 10%;
}
/*# sourceMappingURL=style.css.map */