h1, #france,
#belgique, #allemagne,
#hollande,
#pologne, #tchequie {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#france,
#belgique {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#france div,
#belgique div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#france div div,
#belgique div div {
  border: 2px double black;
  height: 200px;
  width: 30%;
}

#allemagne,
#hollande,
#pologne {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#allemagne div,
#hollande div,
#pologne div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#allemagne div div,
#hollande div div,
#pologne div div {
  border: 2px double black;
  height: 100px;
}

#tchequie {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#tchequie div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

#tchequie div :first-child,
#tchequie div :nth-child(2) {
  height: 100px;
  z-index: 0;
  border: 2px double black;
}

#tchequie div #triangle {
  position: absolute;
  height: 192px;
  top: 8px;
  left: 3px;
  width: 95px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  z-index: 2;
}

#tchequie div :last-child {
  position: absolute;
  top: -1;
  height: 208px;
  width: 104px;
  -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
          clip-path: polygon(0 0, 100% 50%, 0 100%);
  z-index: 1;
  background-color: black;
}

.blue {
  background-color: #3030c2;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.yellow {
  background-color: yellow;
}

.black {
  background-color: black;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#valider {
  margin-top: 10%;
}
/*# sourceMappingURL=style.css.map */