@mixin flexNom {
    width: 300px;
    display: flex;
    flex-direction: column;
}

@mixin divLayout($isRow :true) {
    div {

        border: 2px double black;

        @if($isRow) {
            height: 200px;
            width: 30%;
        }

        @else {
            height: 30%;
            height: 66px;
        }
    }
}


h1 {
    align-self: center;
}

#france,
#belgique {
    @include flexNom();
    @extend h1;

    div {

        display: flex;
        flex-direction: row;

        @include divLayout($isRow:true);
    }
}

#allemagne,
#hollande,
#pologne {
    @include flexNom();
    @extend h1;

    div {
        display: flex;
        flex-direction: column;
        @include divLayout($isRow:false);
    }
}



.blue {
    background-color: rgb(48, 48, 194);
}

.red {
    background-color: red;
}

.white {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#valider {
    margin-top: 10%;
}